
<body>
<style>
.tail{
 font-size:25px;
 text-align:center;
 font-color:green;
 padding:20px;
 background-color:lightblue;
}
.foot{
font-size:15px;
background-color:lightblue;
padding:5px;
text-align:right;
}
header a{
text-decoration:none;
list-style-type:none;
}
header a:hover{
background-color:yellow;
}
body{
background-color:peachpuff;
}


</style>
<div>
<header class="tail">
<a href="">HOME</a>
&nbsp;&nbsp;&nbsp;&nbsp;

<a href="">ADMISSIONS</a>

&nbsp;&nbsp;&nbsp;&nbsp;
<a href="">ABOUT US</a>
&nbsp;&nbsp;&nbsp;&nbsp;
<a href="">CONTACT US</a>
&nbsp;&nbsp;&nbsp;&nbsp;
</header>
</div>



<div>
  <app-student-form></app-student-form>
</div>
  

  <footer>
      <div class="foot">
	<span>Privacy Policy</span>&nbsp;
<span>Terms & Conditions</span>&nbsp;
<span>Help </span>&nbsp;
<span>email: admissions@gmail.com</span>

</div>
  </footer>






<router-outlet></router-outlet>
